.user-info-page-container {
  position: absolute;
  padding-top: 100px;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}


.delete-button {
  display: flex;
  position: relative;
  top: -150px;
}

.profile-picture-info{
  display: flex;
  position: absolute;
  margin-top: -880px;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.user-edit-button {
  margin-left: 15px;
}

.user-info-header {
  position: absolute;
  margin-top: -640px;
  text-align: center;
  text-decoration: underline;
  z-index: 2;
}

.user-info-box {
  position: absolute;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  max-width: 35%;
  margin-top: -450px;
  text-align: left;
  background-color: rgba(173, 216, 230, 0.649);
  border-radius: 15px;
  padding: 15px;
  z-index: 1;
}


.user-info-field-inputs {
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  position: static;
  width: 100%;
}

.user-info-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.user-info-field strong {
  margin-right: auto;
}

.email-validation-error {
  color: red;
}

@media(max-width: 1200px){
  .user-info-box{
    width: 350px;
    max-width: 400px;
  }
}

@media(max-width: 460px){
  .user-info-box{
    top: 660px;
    max-width: 330px;
  }

  .user-info-header{
    top: 835px;
  }

  .profile-picture-info{
    top: 905px;
  }

  .delete-button{
    top: 5px;
  }




}

@media(max-width: 768px){
  .user-info-box{
    top: 660px;
    max-width: 330px;
  }

  .user-info-header{
    top: 835px;
  }

  .profile-picture-info{
    top: 905px;
  }

  .delete-button{
    top: 5px;
  }
}
